/autom4te.cache/
/src/.deps/
/src/.dirstamp
/src/*.o
/tests/*.o
/tests/.deps
/tests/.dirstamp
/nbproject/
/nbproject/*
/Makefile.in
/Makefile
/testrunner.trs
/testrunner.log
/config.log
/test-suite.log
/configure
/config.status
/stamp-h1
/testrunner
/build